body { 
    background-color:#C4DAD2;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
}

.container{
    max-width: 600px;
    background-color:#E9EFEC;
    margin: 90px auto;
    padding: 20px;
    box-shadow: 0 30px 50px rgba(65,50,100,0.5);
    border-radius: 8px;
}
